* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
  }
  
  :root {
    --primary-color: #7633f9;
    --secondary-color: #ffc107;
    --light-color: #f5f5f5;
    --dark-color: #08023a;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --btc-color: #f2a400;
    --eth-color: #626bd9;
    --ltc-color: #7d8fb3;
    --xrp-color: #0c1818;
    --uni-color: #ff007a;
  }
  
  body {
    background-color: var(--dark-color);
  }
  /*  Utility classes*/
  .container {
    width: 600px;
    margin: auto;
    margin-top: 5vh;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
  }
  h1 {
    margin: 2rem;
    text-align: center;
    font-size: 5rem;
    color: var(--light-color);
  }
  /*Buttons*/
  .btn {
    margin: 0.25rem 0.125rem;
    padding: 0.35rem 1.25rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.7px;
    border-radius: 0.3rem;
    color: #fff;
    background-color: black;
    border: none;
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
    transition: 0.3s ease;
  }
  .btn:hover {
    cursor: pointer;
    box-shadow: none;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .btn-primary {
    background-color: #7633f9;
    color: black;
    width: 100%;
    margin-top: 2rem;
  }
  
  .btn-primary:hover {
    background: rgba(118, 51, 249, 0.75);
  }
  #crypto-select {
    width: 100%;
  }
  form {
    width: 50%;
  }
  form .btn {
    color: #eee;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group select {
    border: 1px solid #eeee;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
  }
  
  .form-group input:focus {
    outline: 1px solid #5308b6;
  }
  .SelectMarket-price {
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 10px;
    margin-bottom: 0.7rem;
  }
  label[for="SelectMarket-price"] {
    font-size: 0.8rem;
    margin-bottom: 0;
    cursor: pointer;
  }
  label[for="SelectMarket-price"]:hover {
    color: #5308b6;
    text-decoration: underline;
  }
  #SelectMarket-price {
    outline: none;
  }
  .exit-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .result {
    width: 50%;
    padding: 20px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 25px;
    font-weight: 500;
  }
  .result div {
    margin-bottom: 1rem;
  }
  .profit {
    color: var(--success-color);
  }
  .loss {
    color: var(--danger-color);
  }
  .primary {
    color: var(--primary-color);
  }
  .fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  /* responsive  */
  
  @media (max-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
    .container {
      width: 95%;
      margin: 2 0.5rem;
    }
    form {
      width: 40%;
    }
    .result {
      width: 60%;
    }
  
    .exit-price {
      grid-template-columns: 1fr;
    }
  }